# Python Strings ðŸ”¥ðŸš€ðŸ’»

## Strings
- Strings in python are surrounded by either single quotation marks, or double quotation marks.

- 'hello' is the same as "hello".

In [1]:
# You can display a string literal with the print() function
print("Hello")
print('Hello')

Hello
Hello

## Assign String to a Variable
- Assigning a string to a variable is done with the variable name followed by an equal sign and the string

In [2]:
a = "Hello"
print(a)

Hello

## Multiline Strings
- You can assign a multiline string to a variable by using three quotes

In [3]:
# You can use three double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [5]:
# Or three single quotes
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)

# Note: in the result, the line breaks are inserted at the same position as in the code.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings are Arrays
- Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

- However, Python does not have a character data type, a single character is simply a string with a length of 1.

- Square brackets can be used to access elements of the string.

In [6]:
# Get the character at position 1 (remember that the first character has the position 0)
a = "Hello, World!"
print(a[1])

e

## Looping Through a String
- Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [7]:
# Loop through the letters in the word "banana"
for x in "banana":
      print(x)

b
a
n
a
n
a

## String Length
- To get the length of a string, use the len() function.

In [8]:
# The len() function returns the length of a string:
a = "Hello, World!"
print(len(a))

13

## Check String
- To check if a certain phrase or character is present in a string, we can use the keyword in.

In [9]:
# Check if "free" is present in the following text
txt = "The best things in life are free!"
print("free" in txt)

True

In [10]:
# Use it in an if statement
# Print only if "free" is present

txt = "The best things in life are free!"

if "free" in txt:
      print("Yes, 'free' is present.")

Yes, 'free' is present.

## Check if NOT
- To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [13]:
# Check if "expensive" is NOT present in the following text
txt = "The best things in life are free!"

print("expensive" not in txt)

True

In [14]:
# print only if "expensive" is NOT present
txt = "The best things in life are free!"

if "expensive" not in txt:
      print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

## Slicing
- You can return a range of characters by using the slice syntax.
- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [15]:
# Get the characters from position 2 to position 5 (not included)
b = "Hello, World!"
print(b[2:5])

# Note: The first character has index 0.

llo

## Slice From the Start
- By leaving out the start index, the range will start at the first character

In [17]:
# Get the characters from the start to position 5 (not included)
b = "Hello, World!"
print(b[:5])

Hello

## Slice To the End
- By leaving out the end index, the range will go to the end

In [20]:
# Get the characters from position 2, and all the way to the end
b = "Hello, World!"
print(b[2:])

llo, World!

## Negative Indexing
- Use negative indexes to start the slice from the end of the string

In [21]:
# Get the characters:
# From: "o" in "World!" (position -5)
# To, but not included: "d" in "World!" (position -2)
b = "Hello, World!"
print(b[-5:-2])

orl

## Modify Strings
- Python has a set of built-in methods that you can use on strings.

### Upper Case

In [23]:
# The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [24]:
# The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace
- Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [28]:
# The strip() method removes any whitespace from the beginning or the end:
a = "    Hello, World!    "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String

In [29]:
# The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Split String
- The split() method returns a list where the text between the specified separator becomes the list items.

In [30]:
# The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation
- To concatenate, or combine, two strings you can use the + operator.

In [31]:
# Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [33]:
# To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Format - Strings

- As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [34]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

- But we can combine strings and numbers by using the format() method!

- The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [35]:
# Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [36]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

## Escape Characters
- To insert characters that are illegal in a string, use an escape character.

- An escape character is a backslash \ followed by the character you want to insert.

- An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [39]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-39-1305ada74cd2>, line 2)

In [38]:
# To fix this problem, use the escape character \":
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

### Single Quote

In [40]:
txt = 'It\'s alright.'
print(txt)

It's alright.

### Backslash

In [41]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

### New Line

In [44]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

### Tab

In [43]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

### Backspace

In [45]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

## String Methods
- Python has a set of built-in methods that you can use on strings.
- Note: All string methods returns new values. They do not change the original string.

**capitalize() - Converts the first character to upper case**

In [46]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

**casefold() - Converts string into lower case**

In [47]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

**center() - Returns a centered string**

In [48]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

**count() - Returns the number of times a specified value occurs in a string**

In [49]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

**find() - Searches the string for a specified value and returns the position of where it was found**

In [50]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

**format() - Formats specified values in a string**

In [51]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

**index() - Searches the string for a specified value and returns the position of where it was found**

In [52]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

**isalnum() - Returns True if all characters in the string are alphanumeric**

In [53]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

**isalpha() - Returns True if all characters in the string are in the alphabet**

In [54]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

**isdigit() - Returns True if all characters in the string are digits**

In [55]:
txt = "50800"

x = txt.isdigit()

print(x)

True

**islower() - Returns True if all characters in the string are lower case**

In [56]:
txt = "hello world!"

x = txt.islower()

print(x)

True

**isnumeric() - Returns True if all characters in the string are numeric**

In [57]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

**isupper() - Returns True if all characters in the string are upper case**

In [58]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

**join() - Joins the elements of an iterable to the end of the string**

In [59]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

**lower() - Converts a string into lower case**

In [60]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

**lstrip() - Returns a left trim version of the string**

In [61]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

**replace() - Returns a string where a specified value is replaced with a specified value**

In [62]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

**rsplit() - Splits the string at the specified separator, and returns a list**

In [63]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

**rstrip() - Returns a right trim version of the string**

In [64]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

**split() - Splits the string at the specified separator, and returns a list**

In [65]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

**strip() - Returns a trimmed version of the string**

In [66]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

**swapcase() - Swaps cases, lower case becomes upper case and vice versa**

In [67]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

**title() - Converts the first character of each word to upper case**

In [68]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

**upper() - Converts a string into upper case**

In [69]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

## Exercise on Strings

In [ ]:
# Question 01
# Use the len method to print the length of the string.
x = "Hello World"

In [ ]:
# Question 02
# Get the first character of the string txt.
txt = "Hello World"

In [ ]:
# Question 03
# Get the characters from index 2 to index 4 (llo).
txt = "Hello World"

In [ ]:
# Question 04
# Return the string without any whitespace at the beginning or the end.
txt = " Hello World "

In [ ]:
# Question 05
# Convert the value of txt to upper case.
txt = "Hello World"

In [ ]:
# Question 06
# Convert the value of txt to lower case.
txt = "Hello World"

In [ ]:
# Question 07
# Replace the character H with a J.
txt = "Hello World"

In [72]:
# Question 08
# Insert the correct syntax to add a placeholder for the age parameter.
age = 36
txt = "My name is John, and I am __ years old"
print(txt.format(age))

My name is John, and I am __ years old

# Completed !!! ðŸŽ‰ðŸŽŠÂ¶